<div>
    <canvas id="mycanvas"></canvas>
</div>
<div>
  <input id="startButton" type="button" value="Start" >
  <input id="stopButton" type="button" value="Stop" >
  <input id="clearButton" type="button" value="Clear" >
  <input id="randomButton" type="button" value="Random" >
</div>
