<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>LifeGame</title>
    <style>
      canvas {
          border: solid 1px #666666;
          margin: 11px;
      }
    </style>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
